* {
  margin: 0;
  padding: 0;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  min-width: 1020px;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  background: #fff;
}
.container {
  width: 1040px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header {
  padding-top: 34px;
  padding-bottom: 80px;
  color: #fff;
  background-color: #6451d5;
}
.header-top {
  margin-bottom: 75px;
}
.header-top::after {
  display: table;
  clear: both;
  content: "";
}
.logo {
  float: left;
  width: 182px;
  height: 100px;
}
.logo img {
  display: block;
}
.main-menu {
  float: right;
  width: 670px;
  margin-top: 25px;
}
.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-menu li {
  display: inline-block;
  margin-right: 50px;
  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
}
.main-menu li:last-child {
  margin-right: 0;
}
.main-menu a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.main-menu a:hover {
  text-decoration: underline;
}
.main-menu a:active {
  text-decoration: none;
  opacity: 0.3;
}
.button {
  display: inline-block;
  padding: 23px;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
}
.button-purple {
  background: #382d78;
}
.button-purple:hover {
  background: #32286c;
}
.button-purple:active {
  background: #32286c;
  color: rgba(255, 255, 255, 0.3);
}
.promo {
  position: relative;
  z-index: 10;
  width: 450px;
}
.promo-title, .page-title {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
}
.promo p {
  margin: 0;
  margin-bottom: 51px;
  width: 320px;
  color: #bcb3f2;
  font-family: 'Tahoma', Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
}
.promo .button {
  width: 320px;
}
.promo::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 380px;
  width: 640px;
  height: 450px;
  background: url("../img/bg-promo.png") no-repeat;
  z-index: -1;
}
.advantages {
  padding-top: 50px;
  padding-bottom: 45px;
  background-color: #efefef;
}
.advantages-item {
  position: relative;
  float: left;
  text-align: center;
  width: 320px;
  margin-right: 30px;
  padding-top: 90px;
}
.advantages-item:last-child {
  margin-right: 0;
}
.advantages-title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
}
.advantages-item p {
  margin: 0;
  color: #555555;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.advantages-icon {
  position: absolute;
  top: 0px;
  left: 120px;
  width: 75px;
  height: 70px;
  background-image: url("../img/sprite.png");
}
.advantages-icon-schedule {
  background-position: 0 0;
}
.advantages-icon-practice {
  background-position: -75px 0;
}
.advantages-icon-work {
  background-position: -150px 0;
}
.advantages .container::after {
  display: table;
  clear: both;
  content: "";
}
.studyforms {
  padding-top: 50px;
  padding-bottom: 70px;
  background: #fff;
}
.studyforms-title {
  margin-bottom: 60px;
}
.studyforms table {
  width: 100%;
  border-collapse: collapse;
}
.studyforms td {
  padding: 23px 44px 23px 28px;
  border: 2px solid #a7a7a7;
  color: #404040;
  font-family: 'Tahoma', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.studyforms thead td {
  background: #efefef;
}
.studyforms td strong {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-weight: 600;
  font-size: 22px;
  white-space: nowrap;
}
.studyforms tbody td {
  padding: 20px 44px 55px 28px;
}
.studyforms tbody td:last-child {
  padding: 23px 44px 23px 28px;
}
.contacts {
  padding-top: 50px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.contacts .container {
  width: 1020px;
  display: table;
  clear: both;
  content: "";
}
.contacts-title {
  margin-bottom: 60px;
}
.contacts-form {
  float: left;
  width: 640px;
}
.contacts-form td {
  padding-bottom: 28px;
}
.contacts-form tr:last-child td {
  padding-bottom: 0px;
}
.contacts-form .title {
  width: 90px;
  padding-right: 8px;
  vertical-align: center;
  text-align: right;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.contacts-form .title:nth-child(3) label {
  padding-top: 20px;
  vertical-align: top;
}
.contacts-form .field {
  width: 510px;
}
.contacts-form input[type="radio"] {
  margin-left: 15px;
}
.contacts-form input[type="radio"] + label{
  margin: 0 60px 0 30px;
}
.contacts-form input[type="text"], .contacts-form textarea {
  width: 100%;
  padding: 12px 26px 18px;
  font-weight: 400;
  font-size: 18px;
  font-family: Tahoma, Arial, sans-serif;
  line-height: 24px;
  outline: none;
  border: 2px solid #b2b2b2;
  border-radius: 2px;
}
.contacts-form input[type="text"]:hover, .contacts-form textarea:hover {
  border: 2px solid #7f7f7f;
}
.contacts-form input[type="text"]:focus, .contacts-form textarea:focus {
  border: 2px solid #6451d5;
}
.contacts-form textarea {
  min-height: 100px;
  resize: none;
}
.contacts-form .button {
  width: 100%;
  padding: 25px 0;
}
.contacts-instruction {
  float: right;
  width: 320px;
}
.contacts-instruction h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 30px;
}
.contacts-instruction p {
  margin: 0;
  margin-bottom: 25px;
  color: #555555;
  font-size: 18px;
  font-family: Tahoma, Arial, sans-serif;
  line-height: 24px;
}
.contacts-instruction .contacts-alert {
  margin-top: 40px;
}
.contacts-instruction .contacts-alert {
  margin-bottom: 0;
}
.contacts-alert strong {
  color: #000000;
}
.main-footer {
  padding-top: 60px;
  padding-bottom: 90px;
  background-color: #2a2546;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}
.footer::after {
  display: table;
  clear: both;
  content: "";
}
.footer-address {
  float: left;
  width: 300px;
  margin-right: 40px;
}
.footer-address .logo {
  float: none;
}
.footer-address p {
  margin: 0;
  margin-top: 60px;
}
.footer-menu {
  float: left;
  width: 175px;
  margin-top: 25px;
}
.footer-menu:last-child {
  float: right;
  width: 135px;
}
.footer-menu h3 {
  margin: 0;
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
.footer-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-menu li {
  margin-bottom: 24px;
}
.footer-menu li:last-child {
  margin-bottom: 0;
}
.footer-menu a {
  color: #a39ebe;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
}
.footer-menu a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer-menu a:active {
  text-decoration: none;
  opacity: 0.3;
}
